<script type="text/javascript">
  $(document).ready(function(){
    read()
  })
  $('#newForm').on('submit', function(e){
    e.preventDefault()
    create()
  })
  $('#updateform').on('submit', function(e){
    e.preventDefault()
    update()
  })
  function read(){
    $.ajax({
      method: 'GET',
      url: 'http://localhost:3000/api/memos',
      dataType: 'json',
      success: function(data){
        $('#memos').empty()
        data.forEach(function(memo){
          $('#memos').append(
            `<tr>
              <td>${memo.id}</td>
              <td>${memo.content}</td>
              <td>
                <button type="button" id=${memo.id} class="btn btn-info update" name="update">Update</button>
                <button type="button" id=${memo.id} class="btn btn-primary" data-toggle="modal" data-target=".update-modal">Update</button>
                <button type="button" id=${memo.id} class="btn btn-danger delete" name="delete">Delete</button>
              </td>
            </tr>`
          )
        })
      }
    }).done(function(){
      addEventlistener()
    })
  }
  function addEventlistener() {
    $('.update').on('click', function(){
      update(this.id)
    })
    $('.delete').on('click', function(){
      destroy(this.id)
    })
  }
  function destroy(id) {
    $.ajax({
      method: 'DELETE',
      url: `http://localhost:3000/api/memos/${id}`,
    }).done(function(){
      read()
    })
  }
  function update(id) {
    // $.ajax({
    //   method: 'PUT',
    //   url: `http://localhost:3000/api/memos/${id}`,
    //   data: 'json',
    // })
  }
  function create(){
    let content = $('input.form-control').val()
    $.ajax({
      method: 'POST',
      url: `http://localhost:3000/api/memos`,
      data: {content: content}
    }).done(function(){
      read()
    })
  }
</script>
