<div class="modal fade update-modal" tabindex="-1" role="dialog" aria-labelledby="Modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <form class="form-inline" id="updateform">
        <div class="form-group">
          <label>Update Memo: </label>
          <input type="text" name="update-modal" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Update</button>
      </form>
    </div>
  </div>
</div>
