<form class="form-inline" id="newForm">
  <div class="form-group">
    <label>New Memo: </label>
    <input type="text" name="newMemo" class="form-control" placeholder="New Memo">
  </div>
  <button type="submit" class="btn btn-success">Add</button>
</form>
