<% include partials/header %>
  <div class="container">
    <% include partials/modal %>
    <% include partials/newForm %>
    <% include partials/table %>
  </div>
<% include partials/jquery %>
<% include partials/footer %>
